.card {
  cursor: pointer;
  border-width: 2px;
}

.card:hover {
  background-color: #EEEEEE;  
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.container-dialog-buttons {
  display: flex;
  justify-content: flex-end;
}

.title-description {
  font-size: 16px !important;
  font-weight: bold !important;
}

.description {
  font-weight: bold;
  padding-right: 5px;
  text-align: right;
  font-size: 14px;
}

.status-aberto {
  border-color: #F9A825;
}

.status-em-andamento {
  border-color: #0091EA;
}

.status-finalizado {
  border-color: #00BFA5;
}

.form-container {
  border-bottom: solid 1px #EEEEEE;
}
