td {
  vertical-align: middle !important;
}

.space-btn-danger {
  margin: 5px;
}

.column-options {
  max-width: 60px;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.title-description {
  font-size: 16px !important;
  font-weight: bold !important;
}

.description {
  font-weight: bold;
  padding-right: 5px;
  text-align: right;
  font-size: 14px;
}