.container {
  padding: 30px;
}

.content {
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.container-field {
  flex: 1;
  margin: 5px;
}

.container-button {
  flex: 1;
  text-align: end;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .small-screen {
    flex-direction: column !important;
  }
}