.modal-content {
  width: 400px;
}

.modal.fade .modal-dialog, .modal.show .modal-dialog {
  justify-content: center;
}

.without-border {
  border-radius: inherit;
}

.without-outline-input {
  outline: none !important;
  box-shadow: none !important;
}

.center-spinner {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.noborder-select {
  border: none !important;
}

.required {
  color: red;
}

.empty-list {
  text-align: center;
  font-size: 17px;
  opacity: 0.6;
  padding-top: 5px;
}
